/*@import url(https://fonts.googleapis.com/css?family=Space+Mono);*/
@import 'https://fonts.googleapis.com/css?family=Space+Mono';


* {
  box-sizing: border-box; }
  *:focus {
    outline: #000 solid 2px; }

html {
  background-color: #2c2c2c;
  color: #D2D2D2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  line-height: 1.5em; }
  html h1 {
    font-family: 'Space Mono', monospace;
    margin-bottom: 0; }
  html a, html button {
    color: #00e2c5;
    text-decoration: none; }

body {
  margin: 0 auto;
  overflow-x: hidden; }

.page-content {
  padding: 40px 10%;
  max-width: 1200px; }
  @media (max-width: 650px) {
    .page-content {
      padding: 40px 5%; } }

button {
  font-family: 'Space Mono', monospace;
  background: transparent;
  border: solid 2px #D2D2D2;
  font-size: 12px;
  width: 100%;
  padding: 1em;
  -webkit-transition: ease-out .25s;
          transition: ease-out .25s; }
  button:hover {
    cursor: pointer;
    color: #D2D2D2;
    background-color: #222;
    border: solid 2px #00e2c5;
    -webkit-transition: ease-out .25s;
            transition: ease-out .25s; }

.intro {
  text-align: center;
  margin: 41px auto 80px;
  max-width: 660px;
  color: #EfEfEf;
  font-size: 1.25em;
  line-height: 1.5;
  position: relative;
  left: -4%; }
  .intro p {
    text-align: left;
    margin-left: 15%; }
  .intro a {
    color: #EfEfEf;
    text-decoration: underline;
    -webkit-transition: ease-out .25s;
            transition: ease-out .25s; }
    .intro a:hover {
      color: #00e2c5;
      -webkit-transition: ease-out .25s;
              transition: ease-out .25s; }

h1 {
  font-family: Helvetica, sans-serif; }

#instafeed {
  height: auto;
  width: 100%;
  float: left;
  background-color: rgba(44, 44, 44, 0.65);
  padding: 35px 50px; }
  @media (max-width: 800px) {
    #instafeed {
      padding: 50px 12px; } }
  #instafeed div {
    margin: 1em auto 1em;
    display: block;
    float: left; }
    #instafeed div a {
      float: left; }
    #instafeed div p {
      float: left;
      padding: 0 0 0 2em; }
      @media (max-width: 650px) {
        #instafeed div p {
          padding: 0 0; } }
    #instafeed div:nth-child(even) a {
      float: right; }
    #instafeed div:nth-child(even) p {
      float: right;
      padding: 0 2em 0 0; }
    #instafeed div::after {
      content: "//////";
      display: inline-block;
      text-align: center;
      margin: 6em auto;
      width: 100%;
      color: rgba(0, 226, 197, 0.5);
      letter-spacing: 4px; }
    #instafeed div:last-child::after {
      content: "";
      margin: 2em auto; }
  #instafeed a {
    width: 50%;
    display: block;
    border-top: 2px solid rgba(0, 226, 197, 0);
    -webkit-transition: ease-out .35s;
            transition: ease-out .35s;
    background: transparent; }
    @media (max-width: 650px) {
      #instafeed a {
        width: 100%; } }
    #instafeed a::after {
      font-weight: 700;
      content: "View on Instagram";
      text-decoration: none;
      padding: 0 .5em .5em .5em;
      position: relative;
      top: -.2em;
      color: transparent;
      -webkit-transition: ease-out .25s;
              transition: ease-out .25s; }
    #instafeed a:hover {
      border-top: 2px solid #00e2c5;
      background: #00e2c5; }
      #instafeed a:hover::after {
        color: #2c2c2c;
        -webkit-transition: ease-out .25s;
                transition: ease-out .25s; }
  #instafeed img {
    width: 100%;
    -webkit-transition: ease-out .25s;
            transition: ease-out .25s; }
  #instafeed p {
    display: block;
    width: 50%;
    margin: 0 0 1em; }
    @media (max-width: 650px) {
      #instafeed p {
        width: 100%; } }

.ascii-masthead pre {
  font: 8px/9px roboto-mono, monospace;
  color: rgba(0, 226, 197, 0.5);
  letter-spacing: 4px;
  position: fixed;
  right: 3px;
  top: 0;
  z-index: -1; }
  .ascii-masthead pre:last-child {
    right: 1px; }

.logo {
  width: 100%;
  opacity: 0.85; }
