body {
  margin: 0 auto;
  overflow-x: hidden;
}


.page-content {
    padding: 40px 10%;
    max-width: 1200px;

}

button {
    font-family: 'Roboto Mono', monospace;
    //color: $main-accent;
    background: transparent;
    border: solid 2px $offwhite;
    font-size: 12px;
    width: 100%;
    padding: 1em;
    //transition: ease-out .35s;
    transition: $ease;

    &:hover{
      cursor: pointer;
      color: $offwhite;
      background-color: #222;
      //border: solid 2px rgba($offwhite, .25);
      border: solid 2px $main-accent;
      //transition: ease-out .35s;
      transition: $ease;
    }
  }

  .intro {
    text-align: center;
    margin: 41px auto 80px; // 41px auto 156px; //77px auto 173px; //10vh auto 15vh;
    max-width: 660px;
    color: $accentwhite;
    font-size: 1.25em;
    line-height: 1.5;
    position: relative;
    left: -4%;

    p {
      text-align: left;
      margin-left: 15%;
    }

    a {
      color: $accentwhite;
      text-decoration: underline;
      transition: $ease;

      &:hover {
        color: $main-accent;
        transition: $ease;
      }
    }

  }
