h1 {
  font-family: Helvetica, sans-serif;
}

#instafeed {
  height: auto;
  width: 100%;
  ///background-color: #eee;
  //padding: 1em;
  float: left;
  // display: flex;
  background-color: rgba($nearblack, 0.65);
  padding: 35px 50px;

  @media (max-width:800px){
    padding: 50px 12px;
  }

  div {
    margin: 1em auto 1em; //1em auto 15vh;
    //padding: 2em;
    display: block;
    float: left;
    //width: 60%;
    // align-self: center;

    a {
      float: left;
    }
    p{
      float: left;
      padding: 0 0 0 2em;
    }
    &:nth-child(even) {
      a{
        float: right;
      }
      p {
        float: right;
        padding: 0 2em 0 0;
      }

      @media (max-width:650px){
        a,p{
          float: left;
        }
        p{
          padding: 0 0 0 0;
        }
      }
    }

    &::after {
      content: "`````";
      display: inline-block;
      text-align: center;
      margin: 6em auto;
      width: 100%;
      color:rgba($main-accent,0.5); //$gray;
      letter-spacing:4px;
    }

    // &:last-child {
    //   &::after {
    //     content: none;
    //   }
    // }
  }

  a {
    width: 50%;
    display: block;
    border-top: 2px solid rgba($main-accent,0);
    transition: ease-out .35s;
    background: transparent;

    @media (max-width:650px){
      width: 100%;
    }

    &::after {
      font-weight: 700;
      content: "View on Instagram";// "View on Instagram \02197";
      text-decoration: none;
      padding: 0 .5em .5em .5em;
      position: relative;
      top:-.2em;
      color: transparent;

      transition: $ease;
      @media (){
    }

    &:hover{
      border-top: 2px solid $main-accent;
      //transition: ease-out .35s;
      background: $main-accent;


      &::after {
        color: $nearblack;
        //transition: ease-out .35s;
        transition: $ease;
      }
    }
  }

  img {
    width: 100%;
    //max-width: 300px;
    //margin-right: 2em;
    //float: left;
    transition: $ease;

    // &:hover{
    //   opacity: .9;
    //   transition: $ease;
    // }


  }

  p{
    display: block;
    width: 50%;
    //float: left;

    margin: 0 0 1em;

    @media (max-width:650px){
      width: 100%;
    }
  }
}
