h1 {
  font-family: Helvetica, sans-serif;
}

#instafeed {
  height: auto;
  width: 100%;
  background-color: #eee;
  //padding: 1em;
  float: left;
  // display: flex;

  div {
    margin: 1em auto 2em;
    padding: 2em;
    display: block;
    float: left;
    width: 60%;
    // align-self: center;
  }

  img {
    width: 100%;
    max-width: 300px;
    margin-right: 2em;
    float: left;
  }

  p{
    display: block;
    width: 66%;
    float: left;
  }
}
